@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.login_page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {
    width: 80%;
    height: 400px;
    padding: 4%;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: revealAnimation 2s ease-in-out;
    transition: all 0.3s ease;
}

#login-form h2 {
    font-family: Poppins;
    color: rgb(0, 0, 0);
    font-size: 10vh;
    transform: translateY(-5vh);
}

#login-form.reveal2 {
    animation: revealAnimation2 2s ease-in-out;
}

.wrongpass select, .wrongpass input {
    border-bottom: 1px red solid;
    animation: shake 0.5s ease-in-out alternate-reverse;
    color: red;
}

.correctpass select, .correctpass input {
    border-bottom: 1px green solid;
    color: green;
}

input:disabled {
    background-color: transparent;
}

select, input {
    border: 0;
    border-bottom: 1px rgba(128, 128, 128, 0.23) solid;
    margin-bottom: 20px;
    overflow-y: auto;
    width: 40%;
    height: 15vh;
    font-family: Poppins;
    font-size: 3vh
}

select:focus, input:focus {  
    outline: 0;
}

button {
    margin-top: 0.5in;
    width: 1.5in;
    padding: 1%;
    border: 0;
    transition: all 0.3s;
    font-family: Poppins;
    cursor: pointer;
}

/* Original content */
button::before {
    content: "Let's Go!";
}

/* Hover effect to change content */
button:hover::before {
    content: "Ready?";
}

button:hover {
    font-weight: 600;
    background-color: antiquewhite;
}
  
@keyframes revealAnimation {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes revealAnimation2 {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translate(0);
    }
    
    1% {
        transform: translate(-5px, 5px);
        filter: blur(1px);
    }
    2% {
        transform: translate(5px, -5px);
    }
    3% {
        transform: translate(-5px, 5px);
        filter: blur(5px);
    }
    4% {
        transform: translate(5px, -5px);
    }
    5% {
        transform: translate(0);
        filter: blur(0px);
    }
    79% {
        transform: translate(0);
        filter: blur(0px);
    }
    80% {
        transform: translate(-5px, 5px);
        filter: blur(1px);
    }
    81% {
        transform: translate(5px, -5px);
    }
    82% {
        transform: translate(-5px, 5px);
        filter: blur(5px);
    }
    83% {
        transform: translate(5px, -5px);
    }
    84% {
        transform: translate(0);
        filter: blur(0px);
    }
}